USE [master]
GO
/****** Object:  Database [ProductosProveedores]    Script Date: 23/6/2019 4:46:12 p. m. ******/
CREATE DATABASE [ProductosProveedores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sosbelleza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sosbelleza.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sosbelleza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sosbelleza_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductosProveedores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductosProveedores]
GO
/****** Object:  StoredProcedure [dbo].[Cargar]    Script Date: 23/6/2019 4:46:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cargar]
AS
BEGIN
	select 
	diccionario.clave,
	idioma_diccionario.
	valor 
	FROM diccionario inner join idioma_diccionario
	on diccionario.id_diccionario = idioma_diccionario.id_diccionario
END

GO
/****** Object:  Table [dbo].[Area]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Area](
	[Id_Area] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [varchar](50) NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id_Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[bitacora2]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bitacora2](
	[Id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](50) NULL,
	[Fecha] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[Id_Usuario] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ciudad](
	[Id_Ciudad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[CP] [varchar](50) NULL,
	[Provincia] [int] NULL,
	[NombreProvincia] [varchar](50) NULL,
 CONSTRAINT [PK_cK] PRIMARY KEY CLUSTERED 
(
	[Id_Ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[diccionario]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[diccionario](
	[id_diccionario] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](500) NOT NULL,
 CONSTRAINT [PK_diccionario] PRIMARY KEY CLUSTERED 
(
	[id_diccionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[digitovertical]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[digitovertical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [varchar](50) NULL,
	[Digito] [varchar](50) NULL,
	[Fecha] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Id_Area] [int] NULL,
	[NombreArea] [varchar](50) NULL,
	[Cargo] [varchar](50) NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Evaluacion]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[Id_evaluacion] [int] IDENTITY(1,1) NOT NULL,
	[Proveedor] [int] NULL,
	[NombreProveedor] [varchar](50) NULL,
	[Tiempo] [int] NULL,
	[Atencion] [int] NULL,
	[Comunicacion] [int] NULL,
	[Calidad] [int] NULL,
	[Promedio] [decimal](18, 0) NULL,
	[Fecha] [varchar](50) NULL,
 CONSTRAINT [PK_Evaluacion] PRIMARY KEY CLUSTERED 
(
	[Id_evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormularioPatente]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FormularioPatente](
	[IdFormulario] [int] NOT NULL,
	[Accion] [varchar](50) NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_FormularioPatente] PRIMARY KEY CLUSTERED 
(
	[IdFormulario] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Formularios]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Formularios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreFormulario] [varchar](50) NOT NULL,
	[Menu] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Formularios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[idioma]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma](
	[id_idioma] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](50) NOT NULL,
 CONSTRAINT [PK_idioma] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[idioma_diccionario]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[idioma_diccionario](
	[id_idioma] [int] NOT NULL,
	[id_diccionario] [int] NOT NULL,
	[valor] [varchar](500) NOT NULL,
 CONSTRAINT [PK_idioma_diccionario] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC,
	[id_diccionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[Id_OC] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [varchar](50) NULL,
	[Proveedor] [int] NULL,
	[Area] [int] NULL,
	[Importe] [varchar](50) NULL,
	[dvh] [varchar](50) NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[Id_OC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patente](
	[Patente_id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Patente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatentePatente]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatentePatente](
	[patente_id_padre] [int] NOT NULL,
	[patente_id_hijo] [int] NOT NULL,
 CONSTRAINT [PK_PatentePatente] PRIMARY KEY CLUSTERED 
(
	[patente_id_padre] ASC,
	[patente_id_hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[producto]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[producto](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [varchar](50) NULL,
	[Categoria] [int] NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proveedor](
	[Id_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [varchar](50) NOT NULL,
	[CUIT] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[CodigoPostal] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Celular] [varchar](50) NULL,
	[CorreoElectronico] [varchar](50) NULL,
 CONSTRAINT [PK_proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proveedor_producto]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proveedor_producto](
	[Id_Registro] [int] IDENTITY(1,1) NOT NULL,
	[Id_Producto] [int] NULL,
	[Producto] [varchar](50) NULL,
	[Id_Proveedor] [int] NULL,
	[Proveedor] [varchar](50) NULL,
	[Precio] [decimal](18, 0) NULL,
	[DescuentoCantidad] [int] NULL,
	[CantidadDescuento] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id_Provincia] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Pais] [int] NULL,
	[NombrePais] [varchar](50) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegistroCompra]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroCompra](
	[Id_Registro] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [int] NOT NULL,
	[Precio] [decimal](18, 0) NULL,
	[Cantidad] [int] NULL,
	[Descuento] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
	[OrdenCompra] [int] NULL,
 CONSTRAINT [PK_RegistroCompra] PRIMARY KEY CLUSTERED 
(
	[Id_Registro] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioPatente]    Script Date: 23/6/2019 4:46:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPatente](
	[usuario_id] [int] NOT NULL,
	[patente_id] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioPatente] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC,
	[patente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Id_Area], [NombreArea]) VALUES (3, N'OyP')
INSERT [dbo].[Area] ([Id_Area], [NombreArea]) VALUES (6, N'Legales')
INSERT [dbo].[Area] ([Id_Area], [NombreArea]) VALUES (7, N'Tecnologia e Innovacion')
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[bitacora2] ON 

INSERT [dbo].[bitacora2] ([Id_bitacora], [Accion], [Fecha], [Usuario], [Id_Usuario]) VALUES (9665, N'Ingreso al sistema', N'17/2/2019', N'Ana', 2)
INSERT [dbo].[bitacora2] ([Id_bitacora], [Accion], [Fecha], [Usuario], [Id_Usuario]) VALUES (9666, N'Ingreso al sistema', N'17/2/2019', N'Ana', 2)
INSERT [dbo].[bitacora2] ([Id_bitacora], [Accion], [Fecha], [Usuario], [Id_Usuario]) VALUES (9667, N'Ingreso al sistema', N'17/2/2019', N'Ana', 2)
GO
SET IDENTITY_INSERT [dbo].[bitacora2] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id_Categoria], [Nombre]) VALUES (4, N'Hoteles')
INSERT [dbo].[Categoria] ([Id_Categoria], [Nombre]) VALUES (38, N'Iluminación')
INSERT [dbo].[Categoria] ([Id_Categoria], [Nombre]) VALUES (39, N'Librería')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([Id_Ciudad], [Nombre], [CP], [Provincia], [NombreProvincia]) VALUES (2, N'Ciudad Autónoma de Bs As', N'1900', 1, N'Ciudad Autónoma de Bs As')
INSERT [dbo].[Ciudad] ([Id_Ciudad], [Nombre], [CP], [Provincia], [NombreProvincia]) VALUES (3, N'Adolfo Gonzales Chaves', N'1901', 2, N'Buenos Aires')
INSERT [dbo].[Ciudad] ([Id_Ciudad], [Nombre], [CP], [Provincia], [NombreProvincia]) VALUES (4, N'Adrogué', N'1902', 2, N'Buenos Aires')
GO
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
SET IDENTITY_INSERT [dbo].[diccionario] ON 

INSERT [dbo].[diccionario] ([id_diccionario], [clave]) VALUES (1, N'Crear Idioma')
INSERT [dbo].[diccionario] ([id_diccionario], [clave]) VALUES (2, N'Palabra')
INSERT [dbo].[diccionario] ([id_diccionario], [clave]) VALUES (3, N'Traducción')
SET IDENTITY_INSERT [dbo].[diccionario] OFF
SET IDENTITY_INSERT [dbo].[digitovertical] ON 

INSERT [dbo].[digitovertical] ([id], [NombreTabla], [Digito], [Fecha]) VALUES (61, N'OrdenCompra', N'E11148B7E6073498CFCA830EFF8865FE', CAST(0x583F0B00 AS Date))
INSERT [dbo].[digitovertical] ([id], [NombreTabla], [Digito], [Fecha]) VALUES (62, N'OrdenCompra', N'99D1A0712EDB662B83300F32D765175E', CAST(0x583F0B00 AS Date))
INSERT [dbo].[digitovertical] ([id], [NombreTabla], [Digito], [Fecha]) VALUES (63, N'OrdenCompra', N'53E55A47B387008B290922FDF74350F4', CAST(0x583F0B00 AS Date))
SET IDENTITY_INSERT [dbo].[digitovertical] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [Apellido], [Id_Area], [NombreArea], [Cargo]) VALUES (2, N'Martin ', N'Fernandez', 3, N'OyP', N'Analista')
INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [Apellido], [Id_Area], [NombreArea], [Cargo]) VALUES (3, N'Pablo', N'Garcia', 11, N'Compras y Cont.', N'Gerente')
INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [Apellido], [Id_Area], [NombreArea], [Cargo]) VALUES (4, N'Emiliano', N'Lopez', 7, N'Tecnologia e Innovacion', N'DBA')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
SET IDENTITY_INSERT [dbo].[Evaluacion] ON 

INSERT [dbo].[Evaluacion] ([Id_evaluacion], [Proveedor], [NombreProveedor], [Tiempo], [Atencion], [Comunicacion], [Calidad], [Promedio], [Fecha]) VALUES (2020, 24, N'Arcor SA', 4, 5, 5, 5, CAST(4 AS Decimal(18, 0)), N'Oct 11 2017 12:00AM')
INSERT [dbo].[Evaluacion] ([Id_evaluacion], [Proveedor], [NombreProveedor], [Tiempo], [Atencion], [Comunicacion], [Calidad], [Promedio], [Fecha]) VALUES (2049, 23, N'Amsa SA', 5, 5, 5, 5, CAST(5 AS Decimal(18, 0)), N'Dec 11 2017 12:00AM')
INSERT [dbo].[Evaluacion] ([Id_evaluacion], [Proveedor], [NombreProveedor], [Tiempo], [Atencion], [Comunicacion], [Calidad], [Promedio], [Fecha]) VALUES (2055, 23, N'Amsa SA', 5, 5, 5, 5, CAST(5 AS Decimal(18, 0)), N'Jan 12 2018 12:00AM')
SET IDENTITY_INSERT [dbo].[Evaluacion] OFF
INSERT [dbo].[FormularioPatente] ([IdFormulario], [Accion], [IdPatente]) VALUES (1, N'Alta', 2095)
INSERT [dbo].[FormularioPatente] ([IdFormulario], [Accion], [IdPatente]) VALUES (1, N'Baja', 2096)
INSERT [dbo].[FormularioPatente] ([IdFormulario], [Accion], [IdPatente]) VALUES (1, N'Modificacion', 2097)
SET IDENTITY_INSERT [dbo].[Formularios] ON 

INSERT [dbo].[Formularios] ([Id], [NombreFormulario], [Menu]) VALUES (1, N'frmAltaUsuarios', N'Administración')
INSERT [dbo].[Formularios] ([Id], [NombreFormulario], [Menu]) VALUES (4, N'frmBitacora', N'Administración')
INSERT [dbo].[Formularios] ([Id], [NombreFormulario], [Menu]) VALUES (6, N'frmIdioma', N'Configuración')
SET IDENTITY_INSERT [dbo].[Formularios] OFF
SET IDENTITY_INSERT [dbo].[idioma] ON 

INSERT [dbo].[idioma] ([id_idioma], [nombre]) VALUES (5, N'Español                                           ')
INSERT [dbo].[idioma] ([id_idioma], [nombre]) VALUES (15, N'Ingles                                            ')
INSERT [dbo].[idioma] ([id_idioma], [nombre]) VALUES (1054, N'chino                                             ')
SET IDENTITY_INSERT [dbo].[idioma] OFF
INSERT [dbo].[idioma_diccionario] ([id_idioma], [id_diccionario], [valor]) VALUES (5, 1, N'Crear Idioma')
INSERT [dbo].[idioma_diccionario] ([id_idioma], [id_diccionario], [valor]) VALUES (5, 2, N'Palabra')
INSERT [dbo].[idioma_diccionario] ([id_idioma], [id_diccionario], [valor]) VALUES (5, 3, N'Traducción')
GO
INSERT [dbo].[idioma_diccionario] ([id_idioma], [id_diccionario], [valor]) VALUES (15, 1028, N'
Select Product')
GO
SET IDENTITY_INSERT [dbo].[OrdenCompra] ON 

INSERT [dbo].[OrdenCompra] ([Id_OC], [Fecha], [Proveedor], [Area], [Importe], [dvh]) VALUES (2033, N'12/2/2019', 2, 3, N'102', N'9DF4FFD9405440197844B52E1748593F')
INSERT [dbo].[OrdenCompra] ([Id_OC], [Fecha], [Proveedor], [Area], [Importe], [dvh]) VALUES (2034, N'12/2/2019', 27, 7, N'4800', N'21909FB8F5702816B2281E80444E02A1')
INSERT [dbo].[OrdenCompra] ([Id_OC], [Fecha], [Proveedor], [Area], [Importe], [dvh]) VALUES (2035, N'12/2/2019', 2, 11, N'3950', N'DA1A20C54939B42240A276FE8C24388C')
SET IDENTITY_INSERT [dbo].[OrdenCompra] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([Id_Pais], [Nombre]) VALUES (1, N'Argentina')
INSERT [dbo].[Pais] ([Id_Pais], [Nombre]) VALUES (2, N'Bolivia')
INSERT [dbo].[Pais] ([Id_Pais], [Nombre]) VALUES (3, N'Brasil')
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([Patente_id], [Nombre], [Tipo]) VALUES (2081, N'Administrador', N'F')
INSERT [dbo].[Patente] ([Patente_id], [Nombre], [Tipo]) VALUES (2083, N'Novato', N'F')
INSERT [dbo].[Patente] ([Patente_id], [Nombre], [Tipo]) VALUES (2084, N'Avanzado', N'F')
SET IDENTITY_INSERT [dbo].[Patente] OFF
INSERT [dbo].[PatentePatente] ([patente_id_padre], [patente_id_hijo]) VALUES (2081, 2095)
INSERT [dbo].[PatentePatente] ([patente_id_padre], [patente_id_hijo]) VALUES (2081, 2097)
INSERT [dbo].[PatentePatente] ([patente_id_padre], [patente_id_hijo]) VALUES (2081, 2098)
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([Id_Producto], [Producto], [Categoria]) VALUES (6, N'Lamparita', 38)
INSERT [dbo].[producto] ([Id_Producto], [Producto], [Categoria]) VALUES (35, N'Hotel dos reyes', 4)
INSERT [dbo].[producto] ([Id_Producto], [Producto], [Categoria]) VALUES (36, N'Carpetas Oficio', 39)
SET IDENTITY_INSERT [dbo].[producto] OFF
SET IDENTITY_INSERT [dbo].[proveedor] ON 

INSERT [dbo].[proveedor] ([Id_Proveedor], [NombreProveedor], [CUIT], [Direccion], [Ciudad], [CodigoPostal], [Provincia], [Pais], [Telefono], [Celular], [CorreoElectronico]) VALUES (2, N'Ana Dipietro', N'23212345777', N'Moreno 3456', N'CABA', N'2334', N'Ciudad Autonoma de Buenos Aires', N'Argentina', N'(011)2334-5645', N'(011)22233444', N'adiaz@hotmail.com')
INSERT [dbo].[proveedor] ([Id_Proveedor], [NombreProveedor], [CUIT], [Direccion], [Ciudad], [CodigoPostal], [Provincia], [Pais], [Telefono], [Celular], [CorreoElectronico]) VALUES (23, N'Amsa SA', N'3322233338', N'Colombres 222', N'Ciudad Autónoma de Bs As', N'1900', N'Ciudad Autónoma de Bs As', N'Argentina', N'(011)2333-3333', N'(344)34444444', N'amsa@gmail.com')
INSERT [dbo].[proveedor] ([Id_Proveedor], [NombreProveedor], [CUIT], [Direccion], [Ciudad], [CodigoPostal], [Provincia], [Pais], [Telefono], [Celular], [CorreoElectronico]) VALUES (24, N'Arcor SA', N'322223456', N'Monte Grande 1232', N'Lomas de Zamora', N'2323', N'Buenos Aires', N'Argentina', N'(576)5776-57', N'(765)765765', N'compras@arcor.com')
SET IDENTITY_INSERT [dbo].[proveedor] OFF
SET IDENTITY_INSERT [dbo].[proveedor_producto] ON 

INSERT [dbo].[proveedor_producto] ([Id_Registro], [Id_Producto], [Producto], [Id_Proveedor], [Proveedor], [Precio], [DescuentoCantidad], [CantidadDescuento]) VALUES (10, 37, N'Plomero', 1042, N'Los Mirasoles', CAST(478 AS Decimal(18, 0)), 10, 10)
INSERT [dbo].[proveedor_producto] ([Id_Registro], [Id_Producto], [Producto], [Id_Proveedor], [Proveedor], [Precio], [DescuentoCantidad], [CantidadDescuento]) VALUES (2, 6, N'Lamparita', 23, N'Amsa SA', CAST(45 AS Decimal(18, 0)), 10, 50)
INSERT [dbo].[proveedor_producto] ([Id_Registro], [Id_Producto], [Producto], [Id_Proveedor], [Proveedor], [Precio], [DescuentoCantidad], [CantidadDescuento]) VALUES (14, 6, N'Lamparita', 1029, N'Juan Cruz Morales', CAST(25 AS Decimal(18, 0)), 10, 50)
SET IDENTITY_INSERT [dbo].[proveedor_producto] OFF
INSERT [dbo].[Provincia] ([Id_Provincia], [Nombre], [Pais], [NombrePais]) VALUES (1, N'Ciudad Autónoma de Bs As', 1, N'Argentina')
INSERT [dbo].[Provincia] ([Id_Provincia], [Nombre], [Pais], [NombrePais]) VALUES (2, N'Buenos Aires', 1, N'Argentina')
INSERT [dbo].[Provincia] ([Id_Provincia], [Nombre], [Pais], [NombrePais]) VALUES (3, N'Catamarca', 1, N'Argentina')
SET IDENTITY_INSERT [dbo].[RegistroCompra] ON 

INSERT [dbo].[RegistroCompra] ([Id_Registro], [Producto], [Precio], [Cantidad], [Descuento], [Total], [OrdenCompra]) VALUES (3068, 6, CAST(45 AS Decimal(18, 0)), 6, CAST(0 AS Decimal(18, 0)), CAST(270 AS Decimal(18, 0)), 2033)
INSERT [dbo].[RegistroCompra] ([Id_Registro], [Producto], [Precio], [Cantidad], [Descuento], [Total], [OrdenCompra]) VALUES (3070, 6, CAST(38 AS Decimal(18, 0)), 8, CAST(0 AS Decimal(18, 0)), CAST(304 AS Decimal(18, 0)), 2034)
INSERT [dbo].[RegistroCompra] ([Id_Registro], [Producto], [Precio], [Cantidad], [Descuento], [Total], [OrdenCompra]) VALUES (3071, 6, CAST(38 AS Decimal(18, 0)), 7, CAST(0 AS Decimal(18, 0)), CAST(266 AS Decimal(18, 0)), 2035)
SET IDENTITY_INSERT [dbo].[RegistroCompra] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Usuario_id], [Nombre], [Apellido], [Usuario], [Contraseña]) VALUES (2, N'Ana', N'Dipietro', N'adipietro', N'123')
INSERT [dbo].[Usuario] ([Usuario_id], [Nombre], [Apellido], [Usuario], [Contraseña]) VALUES (13, N'Mariaela', N'Antonia', N'mantonia', N'444')
INSERT [dbo].[Usuario] ([Usuario_id], [Nombre], [Apellido], [Usuario], [Contraseña]) VALUES (27, N'Juan', N'Lopez', N'jlopez', N'444')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[UsuarioPatente] ([usuario_id], [patente_id]) VALUES (2, 2081)
INSERT [dbo].[UsuarioPatente] ([usuario_id], [patente_id]) VALUES (13, 2081)
INSERT [dbo].[UsuarioPatente] ([usuario_id], [patente_id]) VALUES (27, 2081)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Patente]    Script Date: 23/6/2019 4:46:15 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patente] ON [dbo].[Patente]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatentePatente]    Script Date: 23/6/2019 4:46:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PatentePatente] ON [dbo].[PatentePatente]
(
	[patente_id_padre] ASC,
	[patente_id_hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatentePatente_1]    Script Date: 23/6/2019 4:46:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PatentePatente_1] ON [dbo].[PatentePatente]
(
	[patente_id_hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bitacora2]  WITH CHECK ADD  CONSTRAINT [FK_bitacora2_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Usuario_id])
GO
ALTER TABLE [dbo].[bitacora2] CHECK CONSTRAINT [FK_bitacora2_Usuario]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Ciudad_Provincia] FOREIGN KEY([Provincia])
REFERENCES [dbo].[Provincia] ([Id_Provincia])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK_Ciudad_Provincia]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Area] FOREIGN KEY([Id_Area])
REFERENCES [dbo].[Area] ([Id_Area])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Area]
GO
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_proveedor] FOREIGN KEY([Proveedor])
REFERENCES [dbo].[proveedor] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [FK_Evaluacion_proveedor]
GO
ALTER TABLE [dbo].[FormularioPatente]  WITH CHECK ADD  CONSTRAINT [FK_FormularioPatente_Formularios] FOREIGN KEY([IdFormulario])
REFERENCES [dbo].[Formularios] ([Id])
GO
ALTER TABLE [dbo].[FormularioPatente] CHECK CONSTRAINT [FK_FormularioPatente_Formularios]
GO
ALTER TABLE [dbo].[FormularioPatente]  WITH CHECK ADD  CONSTRAINT [FK_FormularioPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Patente_id])
GO
ALTER TABLE [dbo].[FormularioPatente] CHECK CONSTRAINT [FK_FormularioPatente_Patente]
GO
ALTER TABLE [dbo].[idioma_diccionario]  WITH CHECK ADD  CONSTRAINT [FK_idioma_diccionario_diccionario] FOREIGN KEY([id_diccionario])
REFERENCES [dbo].[diccionario] ([id_diccionario])
GO
ALTER TABLE [dbo].[idioma_diccionario] CHECK CONSTRAINT [FK_idioma_diccionario_diccionario]
GO
ALTER TABLE [dbo].[idioma_diccionario]  WITH CHECK ADD  CONSTRAINT [FK_idioma_diccionario_idioma] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[idioma] ([id_idioma])
GO
ALTER TABLE [dbo].[idioma_diccionario] CHECK CONSTRAINT [FK_idioma_diccionario_idioma]
GO
ALTER TABLE [dbo].[PatentePatente]  WITH CHECK ADD  CONSTRAINT [FK_PatentePatente_Patente] FOREIGN KEY([patente_id_padre])
REFERENCES [dbo].[Patente] ([Patente_id])
GO
ALTER TABLE [dbo].[PatentePatente] CHECK CONSTRAINT [FK_PatentePatente_Patente]
GO
ALTER TABLE [dbo].[PatentePatente]  WITH CHECK ADD  CONSTRAINT [FK_PatentePatente_Patente1] FOREIGN KEY([patente_id_hijo])
REFERENCES [dbo].[Patente] ([Patente_id])
GO
ALTER TABLE [dbo].[PatentePatente] CHECK CONSTRAINT [FK_PatentePatente_Patente1]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_Categoria] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categoria] ([Id_Categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_Categoria]
GO
ALTER TABLE [dbo].[proveedor_producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_producto_producto1] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[producto] ([Id_Producto])
GO
ALTER TABLE [dbo].[proveedor_producto] CHECK CONSTRAINT [FK_proveedor_producto_producto1]
GO
ALTER TABLE [dbo].[proveedor_producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_producto_proveedor1] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[proveedor] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[proveedor_producto] CHECK CONSTRAINT [FK_proveedor_producto_proveedor1]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Pais] FOREIGN KEY([Pais])
REFERENCES [dbo].[Pais] ([Id_Pais])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Pais]
GO
ALTER TABLE [dbo].[RegistroCompra]  WITH CHECK ADD  CONSTRAINT [FK_RegistroCompra_producto] FOREIGN KEY([Producto])
REFERENCES [dbo].[producto] ([Id_Producto])
GO
ALTER TABLE [dbo].[RegistroCompra] CHECK CONSTRAINT [FK_RegistroCompra_producto]
GO
ALTER TABLE [dbo].[RegistroCompra]  WITH CHECK ADD  CONSTRAINT [FK_RegistroCompras_OrdenCompra1] FOREIGN KEY([OrdenCompra])
REFERENCES [dbo].[OrdenCompra] ([Id_OC])
GO
ALTER TABLE [dbo].[RegistroCompra] CHECK CONSTRAINT [FK_RegistroCompras_OrdenCompra1]
GO
ALTER TABLE [dbo].[UsuarioPatente]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPatente_Patente] FOREIGN KEY([patente_id])
REFERENCES [dbo].[Patente] ([Patente_id])
GO
ALTER TABLE [dbo].[UsuarioPatente] CHECK CONSTRAINT [FK_UsuarioPatente_Patente]
GO
ALTER TABLE [dbo].[UsuarioPatente]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPatente_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([Usuario_id])
GO
ALTER TABLE [dbo].[UsuarioPatente] CHECK CONSTRAINT [FK_UsuarioPatente_Usuario]
GO
USE [master]
GO
